.kutu1 {
  background-color: blueviolet;
  padding: 15px;
  margin: 30px 10px 50px 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100;
}

.kutu2 {
  background-color: chartreuse;
  padding: 100px;
}
