h1 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 0, 0);
}

h1:hover {
  color: rgb(244, 248, 24);
  background-color: rgb(204, 0, 255);
}

/* span sadece yazıyı kapsar...*/
span:hover {
  color: rgb(155, 62, 0);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #6494edcb;
}
